@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {
  --masi-red: #ff0000;
  --masi-blue: #0000ee;
  --masi-yellow: #ffde5f;
  --masi-green: green;
  --masi-red-2: #ea294c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

$headings-font-family: 'Poppins', sans-serif; // Override heading font family

.light-header {
  font-weight: 200;
}

@media (min-width: 1440px) and (max-width: 1919.98px) {
  .row {
    margin-left: 20px;
    margin-right: 20px;
  }
}

/* Navbar Styling */
#navbar {
  background-color: rgba(255, 255, 255, 0); /* Semi-transparent background */
  transition: background-color 0.5s ease;
  color: white; /* Smooth transition */
}

#nav2 {
  color: rgb(42, 42, 42) !important;
}

#navbar.scrolled {
  background-color: rgba(
    255,
    255,
    255,
    0.95
  ); /* Opaque background when scrolled */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow when scrolled */
}

// The following two lines help me transition the color from white to dark on scroll.
.nav-link {
  transition: color 0.3s ease;
}

.nav-link-white {
  color: white !important;
}

.navbar-brand img {
  max-height: 50px; /* Adjust logo size */
}

/* Donation button */
.btn-danger {
  margin-right: 10px;
}

/* HERO BANNER */
.video-container {
  height: calc(100vh);
  // overflow: hidden;
  position: relative;
}

.video-container > h1 {
  z-index: 1;
  color: white;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-overlay {
  position: absolute;
  width: 100vw;
  // max-width: 400px;
  top: 30%;
  // left: 20%;
  // transform: translate(-60%, -60%);
  text-align: left;
  color: white;
  // margin-left: 10px;
}

.video-overlay h1 {
  color: white;
  font-size: 4rem;
  margin: 0;
  padding: 0;
  line-height: 4.2rem;
  margin-bottom: 50px;
}

.video-overlay-text {
  font-size: 1.3rem;
}
// #opportunities {
//   color: red;
// }

.full-width-section {
  width: 100%;
  height: auto;
  position: relative;
}

// .mission-section {
//   margin: 0 7rem;
// }

// TOP STRIP

.bg-gray-strip {
  background-color: #e8ecf0;
  opacity: 0.95;
  color: bs-dark;
  // --bs-gray-400: #ced4da;
  // --bs-gray-500: #adb5bd;
  // --bs-gray-600: #6c757d;
}

.font-stat-lg {
  font-size: 3rem;
}

.full-strip-img {
  width: 100%; /* Ensures it takes the full width of the parent container */
  object-fit: contain; /* Adjusts the image to fit without distortion */
  display: block;
  margin: 0 auto;
}

.text-content1 {
  position: absolute;
  top: 35%;
  left: 20%; /* Aligns the text content to the left */
  transform: translateY(-50%);
  color: white;
  text-align: left; /* Aligns the text to the left */
}

.top-strip-stat {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 10rem;
  margin: 0;
}

.top-strip-text-light {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 5px;
  line-height: 1.7rem;
}

.top-strip-text {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.7rem;
}

.text-content2 {
  position: absolute;
  top: 30%;
  left: 20%; /* Aligns the text content to the left */
  transform: translateY(-50%);
  color: white;
  text-align: left; /* Aligns the text to the left */
}

.top-strip-stat2 {
  color: white;
  font-family: 'Roboto';
  font-weight: 800;
  font-style: normal;
  font-size: 10rem;
  margin: 0;
  line-height: 0.7;
}

.scholarship-stats {
  color: rgb(42, 42, 42);
}

.text-content3 {
  position: absolute;
  top: 50%;
  left: 20%; /* Aligns the text content to the left */
  transform: translateY(-50%);
  color: white;
  text-align: left; /* Aligns the text to the left */
}

.top-strip-stat3 {
  color: rgb(42, 42, 42);
  font-family: 'Roboto';
  font-weight: 800;
  font-style: normal;
  font-size: 10rem;
  margin: 0;
  line-height: 0.7;
}

// BUTTONS

.custom-btn-width {
  width: 150px;
  border-radius: 0px;
}

.btn-outline-yellow {
  color: #ffc107; /* Bootstrap's yellow color */
  border: 1px solid #ffc107;
  background-color: transparent;
}

.btn-outline-yellow:hover {
  background-color: #ffc107;
  color: white;
}

.top-stats .stat-text {
  color: var(--masi-red-2);
  font-size: 3rem;
}

.mid-stats .stat-text {
  color: var(--masi-blue);
  font-size: 3rem;
}

.bottom-stats .stat-text {
  color: var(--masi-yellow);
  font-size: 3rem;
}
// CARD REASONS TO PARTNER
// .reasons {
//   background-color: lightgray;
// }

/*
flip card
*/

.card-flip > div {
  backface-visibility: hidden;
  transition: transform 300ms;
  transition-timing-function: linear;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
}

.card-front {
  transform: rotateY(0deg);
  color: rgba(var(--bs-dark-rgb));
}

.card-back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  line-height: 1.2;
  color: white;
  background-color: rgba(var(--bs-dark-rgb));
  transition: 0.2s ease-in-out;
}

.card-flip:hover .card-front {
  transform: rotateY(-180deg);
}

.card-flip:hover .card-back {
  transform: rotateY(0deg);
}

// TRUSTED BY
.logo-scroll-container {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.logo-scroll {
  display: inline-block;
  animation: scroll 30s linear infinite;
}

.partner-logo {
  display: inline-block;
  height: 70px;
  margin: 0 20px;
  filter: grayscale(100%) opacity(0.5);
  transition: filter 0.3s ease;
}

.partner-logo:hover {
  filter: grayscale(0%) opacity(1);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media only screen and (max-width: 1200px) {
  /* For large tablets and small desktops */
  .video-overlay h1 {
    font-size: 3.5rem;
  }

  .top-strip-stat {
    font-size: 8rem;
  }

  .top-strip-text {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 992px) {
  /* For medium tablets */
  .video-overlay h1 {
    font-size: 3rem;
  }

  .top-strip-stat {
    font-size: 7rem;
  }

  .top-strip-text {
    font-size: 1.1rem;
  }

  .text-content {
    width: 60%;
    left: 30%;
  }
}

@media only screen and (max-width: 768px) {
  /* For tablets and large phones */
  .video-overlay h1 {
    font-size: 2.5rem;
  }

  .text-content {
    width: 70%;
    left: 35%;
  }

  .top-strip-stat {
    font-size: 6rem;
  }

  .top-strip-text {
    font-size: 1rem;
  }

  .top-stats .stat-text,
  .mid-stats .stat-text,
  .bottom-stats .stat-text {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 576px) {
  /* For small phones */
  .video-overlay h1 {
    font-size: 2rem;
  }

  .text-content {
    width: 80%;
    left: 40%;
  }

  .top-strip-stat {
    font-size: 5rem;
    margin-bottom: 0.5rem;
  }

  .top-strip-text {
    font-size: 0.9rem;
    padding: 0 10px;
  }

  .top-stats .stat-text,
  .mid-stats .stat-text,
  .bottom-stats .stat-text {
    font-size: 2rem;
  }

  .custom-btn-width {
    width: 120px;
  }
}

@media only screen and (max-width: 480px) {
  /* For very small phones */
  .top-strip-stat {
    font-family: 'Nerko One', cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    margin-bottom: 0px;
  }

  .top-strip-text {
    font-size: 0.75rem;
    padding: 0px;
    margin-bottom: 0px;
  }

  .text-content {
    flex-direction: column;
  }
}

@media only screen and (min-width: 1200px) {
  /* For large desktops */
  .video-overlay h1 {
    font-size: 4.5rem;
  }
}

// ABOUT US PAGE
/* Ensuring the video covers the header area */
#hero {
  height: 80vh;
}

#background-video {
  object-fit: cover;
}

/* Optional shadow effect for the hero text */
.text-shadow {
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

#image-gallery {
  overflow: hidden;
}

.gallery-img {
  height: 200px; /* Adjust image height */
  display: inline-block; /* Ensure images stay in a single line */
  margin-right: 10px; /* Add some space between images */
  vertical-align: middle; /* Align images properly */
}

.about-youth {
  .image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    gap: 15px; /* Adjust the gap between images */
  }

  /* Image Container */
  .image-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease;
  }

  /* Images */
  .image-container img {
    width: 100%;
    height: 150px; /* Set a consistent height */
    object-fit: cover;
  }

  /* Hover Effect */
  .image-container:hover {
    transform: scale(1.2); /* Enlarge image on hover */
    z-index: 10;
  }
}

#executive .col-md-3 {
  max-width: 100%; /* Allow the image container to be as wide as needed */
}

.hero-text-about {
  transform: translateY(-50%);
  width: 30%;
}

.zama-image {
  max-width: 90%;
  height: auto;
}

#youth-jobs-chart {
  margin-left: 20px;
  width: 100%;
  max-width: 1200px;
  height: 400px;
}
/* FEATURE REPORTS SECTION */

.modal-feature-reports::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/black-background.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.35; /* Set the opacity here */
  // z-index: 1;
}

.modal-feature-reports {
  position: relative;
}

/* Ensure the right column is tall enough to display the stacked reports */
.modal-feature-reports .col-md-6.position-relative {
  min-height: 400px; /* Adjust height as needed */
}

/* Base styles for report-wrapper */
.report-wrapper {
  position: absolute;
  right: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  z-index: 3;
}

.report-wrapper img {
  width: 270px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  display: block;
  z-index: 5;
}

/* Hover effect on report-wrapper */
.report-wrapper:hover {
  transform: scale(1.1);
  z-index: 5 !important;
}

/* Positioning each report to create the staggered effect */
.report-wrapper.report-1 {
  top: 0;
  right: 100px;
  // transform: rotate(5deg);
}

.report-wrapper.report-2 {
  top: 30px;
  right: 225px;
  // transform: rotate(5deg);
}

.report-wrapper.report-3 {
  top: 60px;
  right: 350px;
  // transform: rotate(5deg);
}

/* Styles specific to modal-feature-reports */
.modal-feature-reports .report-img {
  max-width: 80%;
  height: 300px;
  transition: transform 0.3s ease;
}

.modal-feature-reports .report-img:hover {
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .feature-reports {
    .report-wrapper,
    .report {
      max-width: 90%; /* Adjust this value as needed */
    }
  }
}

.the-solution {
  ul {
    margin-top: 50px;
    padding: 0;
    list-style-type: none;
  }

  li {
    margin-bottom: 20px;
  }
}

.solution-model {
  max-height: 500px;
}

.iframe {
  border: none;
  height: 100vh;
  width: 100%;
}

.data-section {
  margin-top: 100px;
}

// IMPACT STATS SECTION w PARALLAX
.impact-stats-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-image: url('../images/Strip - Child.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Keeps the background image fixed */
}

.impact-stats-section .stats-container {
  height: 100%; /* Ensure container takes full height */
  display: flex;
  align-items: stretch; /* Make children stretch to parent's height */
}

.impact-stats-section .row {
  width: 100%;
  height: 100vh; /* Ensure the row takes the full height of the viewport */
}

.impact-stats-section .col-md-6 {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center content */
}

.impact-stats-section .stat {
  text-align: center;
  position: relative;

  color: white;
  // opacity: 0;
  width: 100%; /* Ensure it spans the container */
  box-sizing: border-box;
  z-index: 2;
}

.stat img {
  transform: scale(1.25);
  margin: 20px 0px;
}

.stat-number {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.stat-description {
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .stat-scroll-title {
    font-size: 1.5rem;
  }

  .stat-number {
    font-size: 2rem;
  }

  .stat-description {
    font-size: 1rem;
  }
}

// CHILD INFO STRIP

.child-info-strip {
  position: relative;
  z-index: 2;
}

// Youth Staff Container

.staff-container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 400px;
  gap: 10px;
  padding: 10px 0px;

  > div {
    flex: 0 0 120px;
    // border-radius: 0.5rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    box-shadow: 1px 1px 5px #1e0e3e;
    position: relative;
    overflow: hidden;

    &:nth-of-type(1) {
      background: url('../images/LCs/LC 7.jpg') no-repeat 50% / cover;
    }
    &:nth-of-type(2) {
      background: url('../images/LCs/LC 2.jpg') no-repeat 50% / cover;
    }
    &:nth-of-type(3) {
      background: url('../images/LCs/LC 8.jpg') no-repeat 50% / cover;
    }
    &:nth-of-type(4) {
      background: url('../images/LCs/LC 4.jpg') no-repeat 50% / cover;
    }
    &:nth-of-type(5) {
      background: url('../images/LCs/LC 9.jpg') no-repeat 50% / cover;
    }
    &:nth-of-type(6) {
      background: url('../images/LCs/LC 6.jpg') no-repeat 50% / cover;
    }
    &:nth-of-type(7) {
      background: url('../images/LCs/LC 10.jpg') no-repeat 50% / cover;
    }
    &:nth-of-type(8) {
      background: url('../images/LCs/LC 1.jpg') no-repeat 50% / cover;
    }
    &:nth-of-type(9) {
      background: url('../images/LCs/LC 11.jpg') no-repeat 50% / cover;
    }

    .content {
      font-size: 1.5rem;
      color: #fff;
      display: flex;
      align-items: center;
      padding: 15px;
      opacity: 0;
      flex-direction: column;
      height: 100%;
      justify-content: flex-end;
      background: rgb(2, 2, 46);
      background: linear-gradient(
        0deg,
        rgba(2, 2, 46, 0.6755077030812324) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      transform: translatey(100%);
      transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
      visibility: hidden;

      span {
        display: block;
        margin-top: 5px;
        font-size: 1.2rem;
        color: white;
      }
    }

    &:hover {
      flex: 0 0 250px;
      box-shadow: 1px 3px 15px #7645d8;
      transform: translatey(-15px);
      transform: scale(1.1);
    }

    &:hover .content {
      opacity: 1;
      transform: translatey(0%);
      visibility: visible;
    }
  }
  .staff-container:hover > h2 {
    color: white;
  }
}

// Youth Staff Container

.staff-container-3 {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 150px;
  gap: 10px;
  padding: 10px 0px;

  > div {
    flex: 0 0 120px;
    // border-radius: 0.5rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    box-shadow: 1px 1px 5px #1e0e3e;
    position: relative;
    overflow: hidden;

    &:nth-of-type(1) {
      background: url('../images/LCs/LC 7.jpg') no-repeat 50% / cover;
    }
    &:nth-of-type(2) {
      background: url('../images/LCs/LC 2.jpg') no-repeat 50% / cover;
    }
    &:nth-of-type(3) {
      background: url('../images/LCs/LC 8.jpg') no-repeat 50% / cover;
    }
    &:nth-of-type(4) {
      background: url('../images/LCs/LC 4.jpg') no-repeat 50% / cover;
    }
    &:nth-of-type(5) {
      background: url('../images/LCs/LC 9.jpg') no-repeat 50% / cover;
    }
    &:nth-of-type(6) {
      background: url('../images/LCs/LC 6.jpg') no-repeat 50% / cover;
    }
    &:nth-of-type(7) {
      background: url('../images/LCs/LC 10.jpg') no-repeat 50% / cover;
    }
    &:nth-of-type(8) {
      background: url('../images/LCs/LC 1.jpg') no-repeat 50% / cover;
    }
    &:nth-of-type(9) {
      background: url('../images/LCs/LC 11.jpg') no-repeat 50% / cover;
    }

    .content {
      font-size: 1.5rem;
      color: #fff;
      display: flex;
      align-items: center;
      padding: 15px;
      opacity: 0;
      flex-direction: column;
      height: 100%;
      justify-content: flex-end;
      background: rgb(2, 2, 46);
      background: linear-gradient(
        0deg,
        rgba(2, 2, 46, 0.6755077030812324) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      transform: translatey(100%);
      transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
      visibility: hidden;

      span {
        display: block;
        margin-top: 5px;
        font-size: 1.2rem;
        color: white;
      }
    }

    &:hover {
      flex: 0 0 150px;
      box-shadow: 1px 3px 15px #7645d8;
      transform: translatey(-15px);
      transform: scale(1.1);
    }

    &:hover .content {
      opacity: 1;
      transform: translatey(0%);
      visibility: visible;
    }
  }
  .staff-container:hover > h2 {
    color: white;
  }
}

.vid-subtitle {
  font-size: 1.2rem !important;
  font-weight: 400 !important;
}

.vid-title {
  line-height: 1;
  // font-family: 'Poppins', sans-serif;
}

// Typed Text Container

.typed-container {
  text-align: center;
  margin-top: 50px;
  font-size: 24px;
  font-family: Arial, sans-serif;
  height: auto;
  color: black;
}

#know {
  font-size: 2rem;
  font-weight: 600;
}

#problem-text {
  font-size: 1.5rem;
  font-weight: 400;
}

#particles-js {
  position: relative;
  width: 100%;
  height: 100vh;
}

#particles-js::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/Map\ of\ Qaqawuli.png');
  background-size: cover;
  background-position: center;
  z-index: -1;
  opacity: 0.5; /* Opacity for the image */
}

#particles-js::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Dark overlay */
  z-index: -1;
}

.footer .container {
  color: white;
}

.footer .container a {
  text-decoration: none;
}

/* DATA DRIVEN RESULTS SECTION */
#data-driven-results {
  position: relative;
  width: 100%;
  height: 800px; /* Adjust the height as needed */
  overflow: hidden;
}

#particles-js-portal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#data-driven-results .content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: #ffffff;
  top: 50%;
  transform: translateY(-50%);
}

#data-driven-results .content h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

#data-driven-results .content p {
  font-size: 1.5em;
  margin-bottom: 30px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#data-driven-results .btn {
  padding: 15px 30px;
  font-size: 1.2em;
}

.desc-box {
  max-width: 500px;
}

// TESTING GSAP IN DATA SECTION

#floating-stats {
  position: relative;
  width: 100%;
  height: 550px;
  background-color: rgba(var(--bs-dark-rgb));
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#floating-stats::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/black-background.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.35; /* Set the opacity here */
  z-index: 1;
}

#floating-stats .stat-container {
  display: flex;
  flex-grow: 1; /* Ensure the container grows to fill the section */
  z-index: 2;
}

#floating-stats .row {
  flex-grow: 1; /* Make the row take 100% of the height */
}

#floating-stats .stat {
  position: absolute;
  color: #fff;
  white-space: nowrap;
}

.btn-outline-white {
  display: inline-block;
  max-width: 40%;
  color: #fff;
  border-color: #fff;
  background-color: transparent;
  transition: all 0.3s ease;
  border-radius: 0px;
  margin-top: 20px;
}

.btn-outline-white:hover {
  background-color: #fff;
  color: #000;
}

// #testimonials {
// background-color: #f8f9fa; /* Optional background for the section */
// }

.testimonial-card {
  width: 100%;
  border: none; /* Remove border for a cleaner look */
  // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for elevation */
}

.testimonial-card img {
  border-radius: 10px 0 0 10px; /* Ensure rounded corners on the left */
}

.testimonial-card .blockquote {
  font-size: 1.25rem; /* Larger quote text */
  font-style: italic; /* Italicized quote */
}

.carousel-item {
  padding: 10px; /* Add some padding to give the carousel a smoother look */
}

/* Our Team Section Styles */
#our-team .team-card {
  height: 100%;
  border: none;
  overflow: hidden;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0;
  transition: 0.3s ease-in-out;
}

#our-team .team-card .card-img-top {
  height: 75%;
  width: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
  border-radius: 0;
}

#our-team .team-card .card-body {
  height: 25%;
  padding-top: 10px;
  margin: 0;
  text-align: center;
}

#our-team .team-card .card-title {
  font-weight: bold;
  margin-bottom: 5px;
}

#our-team .team-card .card-text {
  margin-bottom: 0;
}

#our-team .card-title {
  margin-bottom: 0;
  padding-bottom: 0;
}

#our-team h5 {
  margin-bottom: 0;
  padding-bottom: 0;
}

#our-team .team-card:hover {
  transform: translateY(-10px);
}

/* Our Founders Section Styles */

#our-founders .founder-card {
  position: relative;
  overflow: hidden;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

#our-founders .founder-card img {
  width: 100%;
  height: auto;
  max-height: 450px;
  object-fit: cover;
  display: block;
}

#our-founders .founder-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0); /* Transparent background */
  transition: background-color 0.3s ease;
}

#our-founders .founder-card:hover .overlay {
  background-color: rgba(0, 0, 0, 0.8); /* Dark overlay on hover */
}

#our-founders .founder-card .overlay-content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
}

#our-founders .founder-card:hover .overlay-content {
  opacity: 1;
}

#our-founders .founder-card .overlay-content h5 {
  font-weight: bold;
  margin-bottom: 10px;
}

#our-founders .founder-card .overlay-content p {
  margin-bottom: 0;
}

#our-founders .overlay p {
  font-size: 14px;
  line-height: 1.4;
}

#our-founders .additional-founders {
  font-size: 13px;
  font-style: italic;
}

// CHILDREN & YOUTH PAGE

/* Hero Section */
.children-hero-section {
  background: url('../images/Strip - Child.jpg') no-repeat center center/cover;
  height: 100vh;
  color: white;
  text-align: center;
}

/* Hero Section */
.children-hero-section h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

/* Hero Section */
.children-hero-section p {
  font-size: 1.5rem;
}

/* Content Section */
.content-section {
  padding: 100px 0;
}

.content-section h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.content-section p {
  font-size: 1.1rem;
}

.content-section img {
  width: 100%;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .children-hero-section h1 {
    font-size: 2.5rem;
  }

  /* Hero Section */
  .children-hero-section p {
    font-size: 1.2rem;
  }
}

.children {
  .video-wrapper {
    position: relative;
    width: 100%;
  }

  .video-thumbnail {
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
  }

  .video-player {
    iframe {
      border-radius: 10px;
    }
  }
}

// TOP LEARNER PAGE

/* Hero Section */
.tl-hero-section {
  background: url('../images/Strip - Graduate.jpg') no-repeat center
    center/cover;
  height: 100vh;
  color: white;
  text-align: center;
}

/* Hero Section */
.tl-hero-section h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

/* Hero Section */
.tl-hero-section p {
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .tl-hero-section h1 {
    font-size: 2.5rem;
  }

  /* Hero Section */
  .tl-hero-section p {
    font-size: 1.2rem;
  }
}

// Youth PAGE

/* Hero Section */
.youth-hero-section {
  background: url('../images/youth-1.webp') no-repeat center center/cover;
  height: 100vh;
  color: white;
  text-align: center;
}

/* Hero Section */
.youth-hero-section h1 {
  font-size: 3.5rem;
  margin-bottom: 40%;
  color: rgb(243, 242, 242) !important;
}

/* Hero Section */
.youth-hero-section p {
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .youth-hero-section h1 {
    font-size: 2.5rem;
  }

  /* Hero Section */
  .youth-hero-section p {
    font-size: 1.2rem;
  }
}

.btn-outline-danger {
  color: #dc3545;
  background-color: transparent;
  border: 1px solid #dc3545;
  padding: 10px 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  position: relative;
}

.btn-outline-danger:hover {
  color: white;
}

.btn-outline-danger:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #dc3545;
  z-index: -1;
  border-radius: 50% 50% 0% 0%;
  height: 0%;
  transition: all 0.5s;
}

.btn-outline-danger:hover:before {
  height: 190%;
}

/* CSS */
.button-donate {
  align-items: center;
  background-color: #dc3545;
  border: none;

  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-donate:after {
  background-color: #3e3e3e;
  content: '';
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  transform: translate(5px, 5px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.button-donate:hover:after {
  transform: translate(0, 0);
}

.button-donate:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-donate:hover {
  outline: 0;
  background-color: #b81d2c;
  // transform: scale(1.1);
}

@media (min-width: 768px) {
  .button-donate {
    padding: 0 40px;
  }
}

// DATA PORTAL FLOATING STATS BUTTON

.portal-button {
  a {
    position: relative;
    text-decoration: none;
    // text-transform: uppercase;
    padding: 15px 30px;
    border: 2px solid white;
    color: white;
    font-size: 20px;
    letter-spacing: 4px;
    transition: 0.5s;

    &:hover {
      color: black;
      border: 2px solid transparent;
    }

    span {
      position: absolute;
      background: white;
      box-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 50px white,
        0 0 100px white;
    }

    span:nth-child(1),
    span:nth-child(3) {
      width: 7px;
      height: 4px;
    }

    span:nth-child(2),
    span:nth-child(4) {
      width: 4px;
      height: 7px;
    }

    span:nth-child(1) {
      top: calc(50% - 2px);
      left: -10px;
      transition: 0.5s ease-in-out;
      transform-origin: left;
      transition-delay: 0.25s;
    }

    &:hover span:nth-child(1) {
      left: 50%;
      transform: scaleX(0);
      transition-delay: 0s;
    }

    span:nth-child(3) {
      top: calc(50% - 2px);
      right: -10px;
      transition: 0.5s ease-in-out;
      transform-origin: right;
      transition-delay: 0.25s;
    }

    &:hover span:nth-child(3) {
      right: 50%;
      transform: scaleX(0);
      transition-delay: 0s;
    }

    span:nth-child(2) {
      left: calc(50% - 2px);
      top: -10px;
      transition: 0.5s ease-in-out;
      transform-origin: top;
      transition-delay: 0.25s;
    }

    &:hover span:nth-child(2) {
      top: 50%;
      transform: scaleY(0);
      transition-delay: 0s;
    }

    span:nth-child(4) {
      left: calc(50% - 2px);
      bottom: -10px;
      transition: 0.5s ease-in-out;
      transform-origin: bottom;
      transition-delay: 0.25s;
    }

    &:hover span:nth-child(4) {
      bottom: 50%;
      transform: scaleY(0);
      transition-delay: 0s;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: white;
      transform: scale(0);
      transition: 0.5s;
      z-index: -1;
    }

    &:hover:before {
      transform: scale(1);
      transition-delay: 0.5s;
      box-shadow: 0 0 5px white, 0 0 15px white, 0 0 30px white;
    }
  }
}

/* Hero Section New (Page 2) */

.hero-section-new {
  height: 100vh;

  h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
    line-height: 4.2rem;
    // margin-bottom: 10px;
  }

  .first-column {
    border-bottom: 2px solid #3e3e3e;
  }

  p {
    margin-top: 0;
    padding-top: 0;
    line-height: 1.2;
  }

  .container {
    padding-top: 150px;
    margin-left: 60px;
    margin-right: 0px;
  }

  .video-column {
    height: 550px; /* Set desired height */
    display: flex; /* Make the container a flexbox */
    justify-content: flex-end; /* Aligns child elements (the video) to the right */
    align-items: center; /* Optionally aligns the video vertically */
    overflow: hidden; /* Ensures that video overflow is hidden */
    position: relative;
  }

  .video-content {
    width: 95%;
    height: 100%;
    object-fit: cover; /* Makes sure the video covers the container */
  }

  .btn {
    max-width: 200px;
    border-radius: 0;
  }
}

#know,
#problem-text {
  color: black !important;
  font-size: 24px;
  visibility: visible !important;
}

.background-image-div {
  background-image: url('../images/AR\ 23\ Cover\ Page.png');
  background-size: 85%; /* Adjusts the image to fit within the container */
  background-position: center center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}

#AR2 {
  .img-fluid {
    max-width: 60%;
    height: auto;
    margin-left: 80px;
  }

  .btn {
    margin-top: 40px;
  }
  /* Optional: Customize the button */
  .btn-primary {
    border-color: var(--masi-red-2);
    color: var(--masi-red-2);
    background-color: white;
    border-radius: 0;
  }

  p {
    max-width: 400px;
    line-height: 1.2;
  }

  /* Responsive adjustments */
  @media (max-width: 991.98px) {
    .display-4 {
      font-size: 2.5rem;
    }
  }
}

.eastern-cape-strip {
  .background-image-ec {
    background-image: url('../images/Eastern-Cape-3.JPG');
    background-size: 100%; /* Adjusts the image to fit within the container */
    background-position: center center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
  }
}

.problem-1 {
  max-width: 50%;
}

.impact-stats-new {
  background-image: url('../images/children-run-school.jpg');
  background-size: 100%; /* Adjusts the image to fit within the container */
  background-position: center center; /* Centers the image */
  background-repeat: no-repeat;
  height: 800px; /* Prevents the image from repeating */

  .impact-background {
    background-image: url('path-to-your-background-image.jpg'); /* Replace with your image path */
    width: 100%;
    height: 100%;
  }

  .impact-stats-new .container {
    position: relative;
    z-index: 2;
  }

  .impact-stats-new::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay for readability */
    z-index: 1;
  }

  .stat-number {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .stat-text {
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
    color: rgba(var(--bs-dark-rgb));
  }

  @media (max-width: 767.98px) {
    .impact-stats-new {
      height: auto;
      padding: 50px 0;
    }
    .stat-number {
      font-size: 2rem;
    }
  }
}

.carousel-item {
  img {
    height: 500px;
    width: 100%;
  }
}

.impact-title-light {
  font-weight: 100;
}

.impact-report {
  height: 500px;
  width: 100%;
  transition: 0.3s ease;
}

.impact-report:hover {
  transform: translateY(-10px);
}

.yearly-reports {
  li a {
    text-decoration: none;
    color: rgba(var(--bs-dark-rgb));
    font-weight: 100;
  }

  h2 {
    font-weight: 200;
    font-size: 3rem;
  }
}
